@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  position: relative;
}
.container {

  max-width: 1740px;
  margin: 15px auto;
  background-color: #F0F2F3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.welcome__title {
  display: flex;
  flex-direction: column;

}

span {
  display: block;
}

.chair__image, .chair {
  display: flex;
  /* padding: 82px 381px 94px 974px; */
  width: 475px;
  height: 649px;
  z-index: 1;
}

.welcome__title p {
  margin-bottom: 8px;
  font-weight: 400;
  color: #272343;
  font-size: 14px;
  letter-spacing: 1.68px;
text-transform: uppercase;

}

.welcome__title h1 {
  font-weight: 700;
  color: #272343;
  font-size: 68px;
  line-height: 74px;
}

.btn {
  display: inline-flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #029FAE;
  border-radius:8px;
  border: none;
  margin-top: 24px;
}

.btn p {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.background__circle{
  background-color: #E1E3E5;
  width: 747px;
  height: 747px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  left: 3;
}